@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');

.developers-page-container {
  width: 100%;
  min-height: 100vh;
  background-color: #121212;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
